@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.navbar {
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
}

.texto-bienvenida {
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 2.5rem; /* Tamaño del texto */
    color: #333; /* Color del texto */
    margin: 100px auto; /* Margen superior e inferior, auto para centrar horizontalmente */
    font-family: Arial, sans-serif; /* Misma fuente que el resto */
    width: 100%; /* Asegura que ocupe todo el ancho para centrar correctamente */
    position: relative; /* Asegura que no se vea afectado por otros elementos flex */
}

.navbar-logo {
	display: flex;
	justify-content: center;
}

.navbar-logo img {
	max-height: 50px; /* Ajusta la altura del logo según sea necesario */
	width: auto;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://www.freevector.com/uploads/vector/preview/90951/vecteezySubtleBackgroundFV0223_generated.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column; /* Cambiamos a columna para apilar los elementos */
    align-items: center; /* Centra horizontalmente los hijos */
}

.container {
	margin-top: 2px;
	display: flex;
	height: 40vh;
	align-items: center;
	justify-content: center;
}

.form-container {
	display: flex;
	width: 100%;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 2rem;
	flex-direction: column;
	align-items: center;
}

.form-container h1{
	margin-bottom: 2rem;
}

.longin-title{
	margin-bottom: 2rem;
}

.title {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: #333;
}

.message {
	color: #ff3860;
	margin-bottom: 1rem;
}

.label {
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
	color: #333;
	text-align: left;
	width: 100%;
}

.input {
	width: 100%;
	padding: 0.75rem;
	margin-bottom: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1rem;
	transition: border-color 0.3s ease;
}

.input:focus {
	border-color: #ff416c;
	outline: none;
	box-shadow: 0 0 5px rgba(255, 65, 108, 0.3);
}

.button {
	width: 100%;
	padding: 0.75rem;
	background-color: #ff416c;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 1.1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #ff4b2b;
}

@media ( max-width : 768px) {
	.form-container {
		width: 80%;
	}
}

@media ( max-width : 480px) {
	.form-container {
		width: 90%;
		padding: 1.5rem;
	}
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #FFFFFF;
	color: Black;
	text-align: center;
	padding: 1rem;
}